body {
    font-family: 'Courier New', Courier, monospace;
    background-color: #8f1402;
    height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    gap: 30px;
}

.header {
    padding-top: 50px;
    color: white;
    font-size: 60px;
    font-weight: bold;
}

.grid-container {
    background-color: white;
    aspect-ratio: 1 / 1;
    display: flex;
    flex-direction: column;
    flex: 1;
    padding: 5px;
    border-radius: 5px;
}

.grid-row {
    display: flex;
    flex: 1;
}

.grid-square {
    aspect-ratio: 1 / 1;
    background-color: rgb(34, 34, 34);
    opacity: 0;
}

.options-panel {
    display: flex;
    gap: 50px;
    padding-bottom: 50px;
}

.options-panel button {
    padding: 0 15px;
    border-radius: 10px;
    border-style: none;
    background-color: white;
    font-weight: bold;
    font-size: 20px;
    cursor: pointer;
}

.options-panel .reset:hover {
    color: white;
    background-color: black;
    transition-duration: 0.3s;
}

.change-dimensions {
    background-color: white;
    color: black;
    font-weight: bold;
    border-radius: 10px;
    padding: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    font-size: 20px;
}

.change-dimensions p {
    margin: 0;
}

.change-dimensions button {
    padding: 0;
}

.change-dimensions button:hover {
    color:#8f1402
}

.dimension-slider {
    appearance: none;
    background: black;
    outline: none;
    border-radius: 50px;
    width: 200px;
}

.dimension-slider::-webkit-slider-thumb {
    appearance: none;
    width: 20px;
    height: 20px;
    border-radius: 50px;
    background: white;
    cursor: pointer;
}
